<ion-header>
  <ion-toolbar>
    <ion-title>AccountDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <img src="" alt="">
    <br>

    <a href="" (click)="btnAccountDetails">{{Name}} {{Lastname}}</a>
    
    <hr/>

<div> 
    <h2>User Info</h2>
    <br>
    <label>Name: {{account.FirstName}} {{account.LastName}}</label>
    <br>
    <label>Mobile Number: {{account.MobileNumber}}</label>
    <br>
    <label>Email: {{login.E-mail}}</label>
    <br>

  </div>
</ion-content>
