<ion-header>
  <ion-toolbar>
    <ion-title>
      Sell Books
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-label>New advertisement</ion-label>
  <ion-content>

    <ion-list>
      <ion-item>
        <ion-label>Advertsiement title:</ion-label>
        <ion-input placeholder="Title"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Book title:</ion-label>
        <ion-input placeholder="Book title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>ISBN:</ion-label>
        <ion-input placeholder="ISBN"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Price</ion-label>
        <ion-input placeholder="Price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Description:</ion-label>
        <ion-input placeholder="Description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Location:</ion-label>
        <ion-input placeholder="Location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Category:</ion-label>
        <ion-input placeholder="Category"></ion-input>
      </ion-item>

      <button>Add image</button>
    </ion-list>
  </ion-content>
