<ion-header>
  <ion-toolbar>
    <ion-title>
      Sell Books
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-label>New advertisement</ion-label>
  <ion-content>

    <form>
    <ion-list>
      <ion-item>
        <ion-label>Advertsiement title:</ion-label>
        <ion-input #advertTitle placeholder="Title"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Book ID:</ion-label>
        <ion-input  #bookID placeholder="Book ID"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Account ID:</ion-label>
        <ion-input  #accountID placeholder="Account ID"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Price</ion-label>
        <ion-input  #advertPrice placeholder="Price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Description:</ion-label>
        <ion-input  #advertDescription placeholder="Description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Location:</ion-label>
        <ion-input  #advertLocation placeholder="Location"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Category:</ion-label>
        <ion-input  #bookCategory placeholder="Category"></ion-input>
      </ion-item>

     

      <ion-item>
        <ion-label>Active:</ion-label>
        <ion-input  #activeAdvert placeholder="Active advert"></ion-input>
      </ion-item>
      
    </ion-list>
    <button (click)="submit(advertTitle.value, advertDescription.value, advertPrice.value,  advertLocation.value, bookCategory.value,  activeAdvert.value,  bookID.value, accountID.value)">Create new ad</button>
  </form>
  <button>Add image</button>

  </ion-content>
