<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-label>Username:</ion-label>
        <ion-input #Username placeholder="Username"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input  #Password placeholder="Password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>E-mail:</ion-label>
        <ion-input  #E-mail placeholder="E-mail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>First name</ion-label>
        <ion-input  #FirstName placeholder="First name"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Last name</ion-label>
        <ion-input  #LastName placeholder="Last name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Mobile number</ion-label>
        <ion-input  #MobileNumber placeholder="Mobile number"></ion-input>
      </ion-item>

      
    </ion-list>
    <button (click)="submit(Username.value, Password.value, E-mail.value, FirstName.value, LastName.value, MobileNumber.value)">Register account</button>
  </form>
</ion-content>
